[Desktop Entry]
Name=Counter-Strike 2
Comment=Play this game on Steam
Exec=steam steam://rungameid/730
Icon=chicken-pixel-bg
Terminal=false
Type=Application
Keywords=cs
Categories=Game;

