[Desktop Entry]
Name=GUILTY GEAR -STRIVE-
Comment=Play this game on Steam
Exec=steam steam://rungameid/1384160
Icon=bridget-bg
Terminal=false
Type=Application
Categories=Game;
