[Desktop Entry]
Type=Application
Name=Wine Internet Explorer
MimeType=image/png;
Exec=env WINEPREFIX="/home/trickyni/Games/tiny-rogues-2.8.5/dosdevices/x:/Games/tiny-rogues-2.8.5" wine start /ProgIDOpen pngfile %f
NoDisplay=true
StartupNotify=true
Icon=ECB7_iexplore.0
