[Desktop Entry]
Name=Abiotic Factor
Comment=Play this game on Steam
Exec=steam steam://rungameid/427410
Icon=steam_icon_427410
Terminal=false
Type=Application
Categories=Game;
