
[Desktop Entry]
Type=Application
Name=9 kings
Icon=lutris_9-kings
Exec=env LUTRIS_SKIP_INIT=1 lutris lutris:rungameid/32
Categories=Game
TryExec=lutris
