
[Desktop Entry]
Type=Application
Name=GUILTY GEAR -STRIVE-
Icon=lutris_guilty-gear-strive-
Exec=env LUTRIS_SKIP_INIT=1 lutris lutris:rungameid/2
Categories=Game
TryExec=lutris
