[Desktop Entry]
Name=Road Trip to the End of the World
Comment=Play this game on Steam
Exec=steam steam://rungameid/3769330
Icon=steam_icon_3769330
Terminal=false
Type=Application
Categories=Game;
