[Desktop Entry]
Type=Application
Name=hh
MimeType=application/vnd.ms-htmlhelp;
Exec=env "WINEPREFIX=/home/trickyni/Games/hollow-knight-silksong/dosdevices/x:/Games/hollow-knight-silksong" wine start /ProgIDOpen "chm.file" %f
NoDisplay=true
StartupNotify=true
Icon=D15F_hh.0
