[Desktop Entry]
Type=Application
Name=winhlp32
MimeType=application/winhlp;
Exec=env "WINEPREFIX=/home/trickyni/Games/hollow-knight-silksong/dosdevices/x:/Games/hollow-knight-silksong" wine start /ProgIDOpen "hlpfile" %f
NoDisplay=true
StartupNotify=true
Icon=C06E_winhlp32.0
