[Desktop Entry]
Type=Application
Name=winebrowser
MimeType=application/x-extension-html;
Exec=env WINEPREFIX="/home/trickyni/Games/tiny-rogues-2.8.5" /home/ubuntu/buildbot/runners/wine/lutris-5.21-x86_64/bin/wine start /ProgIDOpen htmlfile %f
NoDisplay=true
StartupNotify=true
Icon=7765_winebrowser.0
