/* Make the ball invisible using mask */
.pointerEvents-9SZWKj { 
    -webkit-mask: url(#svg-mask-status-offline) !important; /* Added WebKit support */
    mask: url(#svg-mask-status-offline) !important;
    fill: hsl(214, calc(var(--saturation-factor, 1) * 9.9%), 50.4%) !important;
}

/* Hide the filling of the status indicator */
.cursorDefault--wfhy5 > rect {
    display: none !important;
}   

/* Hide old tooltip text (the status) */
.tooltipContent-Nejnvh {
    visibility: hidden; /* Cleaner way to hide content */
    position: relative;
}

/* Show 'Offline' in the tooltip */
.tooltipContent-Nejnvh::after {
    content: "Offline" !important;
    visibility: visible;
    text-indent: 0;
    display: block;
    position: absolute;
    top: 0; /* Adjust position if necessary */
    left: 0; /* Adjust position if necessary */
    line-height: normal; 
}

/* Hide online status in DM menu top */
.mask-2Me5HY > rect { 
    display: none !important;
}
