.battery-full {
    color: #92a650;
    font-size: 34px;
    margin-top: -99px;
    margin-bottom: -99px;
    padding-right: 6px;
    font-family: "ProggyCleanSZ Nerd Font Mono";
}
.battery-empty {
    color: #E86045;
    font-size: 34px;
    margin-top: -99px;
    margin-bottom: -99px;
    padding-right: 6px;
    font-family: "ProggyCleanSZ Nerd Font Mono";
}
.ico {
    color: #E68D53;
    font-size: 34px;
    margin-top: -99px;
    margin-bottom: -99px;
    padding-right: 6px;
    font-family: "ProggyCleanSZ Nerd Font Mono";
}
