.bottombar {
  font-family: "Symbols Nerd Font Mono";
  font-size: 8px;
  margin: -1px 0px;
}
.charging {
  color: #f8e2a0;
}
.bottombar-separator {
  color: #C1A387;
  margin: -99px 2px;
  font-size: 8px;
  font-family: "ProggyCleanSZ Nerd Font Mono";
}
