.bar {
    background-color: #3b3228;
    color: #AFD2E9;
    font-family: "ProggyCleanSZ Nerd Font Mono";
    font-size: 24px;
    padding: 1px;
    border-radius: 1px;
    border: 1px solid #C1A387;
}
.status {
    background-color: #3b3228;
    color: #AFD2E9;
    font-size: 24px;
    font-family: "ProggyCleanSZ Nerd Font Mono";
    padding: 1px;
}

