.bar {
    background-color: #3b3228;
    padding: 2px 12px;
}
.status {
    background-color: #3b3228;
    color: #AFD2E9;
    font-size: 32px;
    font-family: "ProggyCleanSZ Nerd Font Mono";
}
.separator {
    color: #C1A387;
    margin: -99px 8px;
    font-size: 26px;
    font-family: "ProggyCleanSZ Nerd Font Mono";
}
tooltip {
    background-color: #3b3228;
    font-size: 18px;
    border-radius: 0px;
    border-width: 2px;
    border-color: #C1A387 #C1A387 #3b3228;
    margin: -3px 3px -3px;
}
tooltip label{
    font-size: 24px;
    font-family: "ProggyCleanSZ Nerd Font Mono";
    color: #AFD2E9;
}
.icon {
    color: #E68D53;
    font-family: "Symbols Nerd Font Mono";
    // font-size: 34px;
    font-size: 18px;
    padding-right: 6px;
    // margin-top: -99px;
    // margin-bottom: -99px;
}
.moon {
    color: #f8e2a0;
    font-size: 16px;
    margin-top: -99px;
    margin-bottom: -99px;
    font-family: "ProggyCleanSZ Nerd Font Mono";
    // font-family: "Symbols Nerd Font Mono";

}
.icon-display {
    color: #AFD2E9;
    font-family: "Symbols Nerd Font Mono";
    font-size: 18px;
    padding-right: 6px;
    margin-top: -99px;
    margin-bottom: -99px;
}
