.progbar > trough {
    margin-left: 2px;
    background-color: #3b3228;
    min-height: 2px;
    border-radius: 100px;
    border: 1px solid #AFD2E9;
    min-width: 40px;
    &> progress {
    background-color: #AFD2E9;
    min-height: 2px;
    border-radius: 100px;
    border: 0px;
    }
}

.low > trough > progress {
    background-color: #E86045;
}
.full > trough > progress {
    background-color: #3ECCBE;
}
.charging > trough > progress {
    background-color: #f8e2a0;
}
